*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body{
    font-family: 'Mulish', sans-serif;
}

.height-75{
    height: 75px;
}

.height-500{
    height: 500px;
}

.height-250{
    height: 250px;
}

.height-150{
    height: 150px;
}

/* HEADER */

.bg-blue{
    background-color: rgba(44,62,80,255);
}

header a{
    text-decoration: none;
    color: white;
}

header h2{
    font-size: 1.3rem;
}

header h3{
    font-size: .8rem;
    margin-left: 1.5rem;
}

.content i{
    display: none;
}

/* MAIN */

.bg-green{
    background-color: rgba(26,188,156,255);
}

.bg-darkred{
    background-color: rgba(186,75,99,255);
}

.bg-lightblue{
    background-color: rgba(30,164,182,255);
}

.bg-black{
    background-color: black;
}

.bg-darklightblue{
    background-color: rgba(28,131,193,255);
}

.bg-darkblue{
    background-color: rgba(14,56,181,255);
}

.bg-beige{
    background-color: rgba(204,178,163,255);
}

.bg-white{
    background-color: white;
}

/* FOOTER */

.bg-2blue{
    background-color: rgba(58,84,109,255);
}

/* MEDIA-Q */

@media screen and (max-width: 767px){
    header h3{
        display: none;
    }

    .content i{
        display: block;
    }
}