*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body{
    font-family: 'Mulish', sans-serif;
}

.height-75{
    height: 75px;
}

.height-500{
    height: 500px;
}

.height-250{
    height: 250px;
}

.height-150{
    height: 150px;
}

/* HEADER */

.bg-blue{
    background-color: rgba(44,62,80,255);
}

header a{
    text-decoration: none;
    color: white;
}

header h2{
    font-size: 1.3rem;
}

header h3{
    font-size: .8rem;
    margin-left: 1.5rem;
}

.hamburger i{
    display: none;
}

/* MAIN */

 /* jumbo */

.bg-green{
    background-color: rgba(26,188,156,255);
}

.image img{
    width: 20%;
    margin-top: 40px;
}

.text h1{
    margin-top: 20px;
    font-weight: bold;
}

.star{
    margin: 20px auto;
    color: rgb(255, 255, 255);
    max-width: 550px;
    position: relative;
}

.star:before{
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #ffffff;
    left: 130px;
    top: 50%;
    position: absolute;
}

.star:after{
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #ffffff;
    right: 130px;
    top: 50%;
    position: absolute;
}

.under-text h4{
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
}

/* portfolio */

.text h2{
    font-weight: bold;
}

.star-black{
    margin: 20px auto;
    color: rgb(255, 255, 255);
    max-width: 550px;
    position: relative;
}

.star-black:before{
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #000000;
    left: 130px;
    top: 50%;
    position: absolute;
}

.star-black:after{
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #000000;
    right: 130px;
    top: 50%;
    position: absolute;
}

.portfolio-images img{
    width: 100%;
    border-radius: 10px;
}











.bg-white{
    background-color: white;
}

/* FOOTER */

.bg-2blue{
    background-color: rgba(58,84,109,255);
}

/* MEDIA-Q */

@media screen and (max-width: 767px){
    header h3{
        display: none;
    }

    .content i{
        display: block;
    }
}